
<%= form_for ([@article,@article.comments.build]) do |f| %>

  <div class="field">
    <ul>
    <li><%= f.text_area :body, placeholder: "コメントを記入" %></li>
    <li>色を選択<%= f.color_field :color %></li>
    </ul>
    
  </div>
  <%= f.submit "コメントを投稿"%>
<% end %>
