
<%= form_tag(root_path) do%>
<div class="dropdown d-block">
 <div class="dropdown-wrapper d-block">

<button type="button"data-toggle="dropdown"class="btn dropdown-toggle btn-sm">
表示件数<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><input type="submit"value="1" name="per"></li>
	<li><input type="submit"value="2" name="per"></li>
        <li><input type="submit"value="3" name="per"></li>
	<li><input type="submit"value="5" name="per"></li>
<li><input type="submit"value="6" name="per"></li>
	<li><input type="submit"value="9" name="per"></li>
    </ul>
 </div>
</div>
<p><%= @per %>ずつ表示</p>
<% end %>



