
<div class="dropdown">
　<button class="btn btn-default" type="button"data-toggle="dropdown">
　　<%= @page %>
　　<span class="caret"></span>
　</button>
　 <ul class="dropdown-menu">
　　	<li><a href="/2">2</a></li>
	<li><a href="/3">3</a></li>
	<li><a href="/4">4</a></li>
	<li><a href="/5">5</a></li>
	<li><a href="/6">6</a></li>
	<li><a href="/7">7</a></li>
	<li><a href="/8">8</a></li>
	<li><a href="/9">9</a></li>
　 </ul>

　件ずつ表示

</div>
