/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
padding-top:120px;
}

title{
text-color:red;
}

.dropdown-wrapper {
  width: 5vw;
  min-width: 7em;
}

.dropdown-wrapper > * {
  width: inherit;
  min-width: inherit;
}
.dropdown-menu>li>input{
  border: none;
  background: none;
  outline: none;
  appearance: none;
  width:100%;
}
.dropdown-menu>li>input:hover {   
  background-color:pink;
}
 .pagination>li>a {
   border: none;   
   color:black;   
 }
 .pagination>.active>a {
  background:lightgreen;     
  
}
 .pagination>.active>a:hover{
  background:lightgreen;
  border-radius: 0px;
}
.pagination>li>a:hover {
  border-radius: 15px;    
  background-color: pink;
}
.head{
  background-color:black;
  transition:.3s;
  padding-bottom:10px;
  
}

header li>a{
  
  font-weight: bold;
}
header li>a::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:linear-gradient(to left,blue 30%,lightblue);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
header li>a:hover::after {
  transform: scale(1, 1);
}

  canvas{
        position:absolute;          
        left:0;
        right:0;	
      }

      
      .logoc{
        box-sizing: border-box;
	color:black;
     	z-index:1;
	margin-top:0;
	margin-bottom:0;
        left:0;
        right:0;
	font-size:22px;
	font-weight:bolder;
        position:absolute;
         font-weight:bold;
         text-align:center;
	line-height:30px;
      }
	.logolink{
	position:absolute;     
        box-sizing: border-box;
        color:white;
     	z-index:2;
	margin-top:0;
	width:150px;
        height:30px;
	opacity:0;   
	}
      div.logo{
	margin-top:10px;
        position:relative;     
        width:150px;
        height:30px;       
        padding:0;
	line-height:30px;
	   
      }
.navc{
    transform: translateY(-100%);
    transition:.3s;
}

.brightness{
filter:brightness(70%);
}

.a_tag{
  width:200px;
  margin-bottom: 5px;

}
.b_tag{
  width:200px;
  height:200px;
  color:blue;
  position:relative;
}
.stream{
  position:absolute;
  color: inherit;
  width:200px;
  margin-bottom: 5px;
  z-index: 2;
  opacity: 0;

}
.showimg{
max-width:800px;
min-width:400px;
margin-left:auto;
margin-right:auto;
}
.c_list{
  color:black;
  font-weight: bold;
}
.imgface{
width:200px;


}

.move{
  opacity: 1;
  animation:type 4s linear  infinite; 
}
  @keyframes type{
  0%{
  transform:translateY(200px);
}

100%{
transform:translateY(-400px);
}
}