// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aka{
  color: red;
}
// a:hover{background-Color:white}
a{
  text-decoration: none;
}

li{list-style: none}

.main{
  text-align:center;
}

.wrap{
  margin-bottom: 5px;
  position:relative;
  width:200px;
  height:150px;
  overflow:hidden;
  background-color:black;
  z-index: 0;
  text-align:start;
 display: inline-block;
 padding:0;
}
.stream{
  position:absolute;
  color: inherit;
  width:200px;
  margin-bottom: 5px;
  z-index: 2;
  opacity: 0;

}


.content_form{
        
	width:400px;
}

.none{}
    .hougan{
	background-color: #FFFDE7;
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}
.naname{
	width: 100%;
	height: 315px;
	background-color:  #DCDCDC;
	background-image: repeating-linear-gradient(45deg,
	#C0C0C0, #C0C0C0 3px,
	transparent 0, transparent 6px);
}
.tile{
  background:
    linear-gradient(135deg, #DCDCDC 22px, #ffffff 22px, #ffffff 24px, transparent 24px, transparent 67px, #ffffff 67px, #ffffff 69px, transparent 69px),
    linear-gradient(225deg, #DCDCDC 22px, #ffffff 22px, #ffffff 24px, transparent 24px, transparent 67px, #ffffff 67px, #ffffff 69px, transparent 69px)0 64px;
  background-color:#DCDCDC;
  background-size: 64px 128px
}
.dot{	background-size: 20px 20px;
	background-color: #D3D3D3;
	background-image:
	linear-gradient(45deg, #DCDCDC 25%, transparent 25%,
	 transparent 50%, #DCDCDC 50%, #DCDCDC 75%,
	 transparent 75%, transparent),
	linear-gradient(-45deg, #DCDCDC 25%, transparent 25%,
	 transparent 50%, #DCDCDC 50%, #DCDCDC 75%,
	 transparent 75%, transparent);
}
.en{
background: repeating-radial-gradient(circle at 50% 50%, #778899 4%, #778899 7%, transparent 12%);
background-size: 48px 30px;
    }
.post{
font-size:20px;
text-align:center;

}
.sepia{
filter:sepia(100%);
}
.invert{
filter:invert(100%);
}